#banner {
  /*background-color: #002147;*/
  height: 100px;
}

#banner > a > img {
  position: relative;
}

#left-logo {
  float: left;
  margin-left: 10%;
  height: 60%;
  top: 20%;
}

#right-logo {
  float: right;
  margin-right: 10%;
  height: 30%;
  top: 35%;
}

.navbar-brand {
  padding-top: 18px;
  padding-bottom: 14px;
  width: 75%;
}

.navbar-brand > img {
  height: 18px;
}

#btn:hover {
    background: #fff;
}

@media (max-width: 767px) {
  .navbar-header {
    padding-top:20px;
  }
}

.navbar-default {
  background-color: #fff;
}

.navbar-static-top {
  border: 0;
  margin: 0 10% 20px 10%;
  width: 80%;
  /*border-radius: 5px;*/
  /*border-bottom: 5px solid #6699CC;*/
  /*outline: 2px solid #FF4200;*/
}

.navbar-static-bottom {
  background-color: #fff;
  position: relative;
  width: 80%;
  margin: 30px 10% 0 10%;
  border: 0;
  border-radius: 0;
  border-top: 8px solid #6699CC;
}

/* navbar on mobile */
@media (max-width: 767px) {
  #top-navbar > li {
    border-left: 5px solid #6699CC;
  }

  #top-navbar > li.active {
    border-left: 5px solid #002147;
  }
}

/* navbar on desktop */
@media (min-width: 768px) {
  #top-navbar {
    font-size: 16px;
    display: table;
    width: 100%;
  }

  @media (max-width: 1299px) {
    #top-navbar > li {
      padding-left: 0.3%;
      padding-right: 0.3%;
    }
  }

  @media (min-width: 1300px) {
    #top-navbar > li {
      padding-left: 2%;
      padding-right: 2%;
    }
  }

  #top-navbar > li {
    float: none;
    display: table-cell;
    text-align: center;
    border-bottom: 8px solid #6699CC;
  }

  #top-navbar > li > a {
    padding: 0;
    display: block;
    line-height: 45px;
    color: #000;
  }

  #top-navbar > li.active {
    border-bottom: 8px solid #002147;
  }
}

/*#top-navbar {
    width: 100%;
    margin: 0;
    padding: 0;
    display: table;
    border-bottom: 8px solid #6699CC;
}

#top-navbar li {
    display: table-cell;
    width: 20%;
    white-space: pre;
    text-align: center;
}

#top-navbar li.first {
    width: 1%;
}

#top-navbar li.last {
    width: 1%;
}

#top-navbar li.tight {
    width: 1%;
}

#top-navbar a {
    display: block;
}*/

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000;
  background-color: #fff;
  /*padding: 0;*/
  /*border-bottom: 5px solid #002147;*/
}

.navbar-default .navbar-text {
  color: #000;
}

html, body {
  height: 100%;
  /*font-size: 15px;*/
}

.container {
  width: 80%;
  padding: 0;
  min-height: 75%;
  height: auto;
  margin: 0 auto -55px;
  padding-bottom: 55px;
}

.container-fluid {
  padding: 0;
  width:100%;
}




#constitution-body {
  padding-bottom: 40%;
  line-height: 25px;
}

.affix-top,.affix{
	position: static;
}

#leftCol {
  padding: 0;
  /*margin-right: 10px;*/
}

#sidebar {
  width: 180px;
  padding-right: 20px;
}

#sidebar li {
  border-left: 8px solid #6699CC;
  margin: 0;
}

#sidebar li.active {
  border-left: 8px solid #002147;
}

#sidebar li > a {
  margin: 0;
}

#sidebar li > a:hover,
#sidebar li > a:focus {
  border-left: 0px;
  /*border-left: 5px solid #002147;*/
  background-color: #fff;
}

@media (min-width: 992px) {
  #sidebar.affix-top {
    position: static;
  	margin-top: 30px;
  	width: 100px;
  }

  #sidebar.affix {
    position: fixed;
    top: 70px;
    width: 100px;
  }
}

img.profile-pic {
  width: 200px;
  height: 200px;
  border: 5px solid #eee;
}

@media (max-width: 767px) {
  img.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .members-body h3 {
    text-align: center;
  }
}

.members-body {
  padding: 25px 0 25px 0;
}

.members-body h3 {
  margin-top: 10px;
}
